# gRPC
/app/src/grpc/*.macaroon
/grpc/*.macaroon
/app/src/grpc/tls.cert
/app/src/testnet/tls.cert
/app/src/testnet/admin.macaroon

# node_modules
/app/node_modules

# simnet
/simnet/alice/*.cert
/simnet/alice/*.key
/simnet/alice/data

/simnet/bob/*.cert
/simnet/bob/*.key
/simnet/bob/data

/simnet/carol/*.cert
/simnet/carol/*.key
/simnet/carol/data

# testnet
api/src/grpc/testnet/admin.macaroon
api/src/grpc/testnet/tls.cert

# environment
/.env
*.swp
